.wallpaper-about {
    background-image: url('/img/about.png');
    background-size: cover;
    height: 100vh;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-family: Roboto, sans-serif ;
}

p {
    font-size: 20px;
    color: #78909C;
    text-align: center;
}


.picture {
    width: 470px;
    height: 350px;
}

#p {
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin-top: 0;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    font-size: 50px;
    text-align: center;
}

.picture-container {
    float: left;
    padding: 2px;
}

#svgs {
    margin-left: 500px;
    margin-right: 25.7%;
    padding: 0;
}

.headline {
    margin: 50px;
    margin-top: 0;
    padding-top: 250px;
}

#merinfo {
    height: 64px;
}

.a {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: darkgray;
    border: 1px solid rgba(0,0,0,0.2);
    width: 100px;
    height: 20px;
    border-radius: 3px;
}

.a:hover {
    border: 1px solid #8e24aa;
}