body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
.material-shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.wallpaper {
    width: 100%;
    height: 100vh;
    transition: height 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wallpaper.minimized {
    height: 30vh;
}
.full {
    width: 100%;
    height: 100vh;
}
.full.offset {
    height: calc(100vh - 64px);
    margin-top: 64px;
}