@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
.rwd-table {
    margin: 100px 0 0 0;
    min-width: 100%;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: 0.5em;
}
.rwd-table td:last-child {
    padding-bottom: 0.5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}


h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

.rwd-table {
    background: #34495E;
    color: #fff;
    overflow: hidden;
}

.rwd-table th {
    background-color: #263545;
}

.rwd-table td .delete {
    text-align: center;
}

.rwd-table tr {
    border-color: #fff;
}
.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}

.hidden {
    display: none;
}

#addevent {
    width: 100%;
    background-color: #263545;
    border: none;
    color: #dd5;
    font-size: 20px;
}

.eventform {
    text-align: center;
    width: 100%;
    background-color: #263545;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1.5px solid #ecf0f1;
    background:#ecf0f1;
    padding:7px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input[type="time"]
{
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="text"]
{
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1.5px solid #ecf0f1;
    background:#ecf0f1;
    padding:8px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="submit"]
{
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1.5px solid #ecf0f1;
    background:#ecf0f1;
    padding:8px;
    display: inline-block !important;
    visibility: visible !important;
}

.btnHolder {
    text-align: center !important;
}

.btnDelete, .btnEdit {
    background-color: #263545;
    color: #dd5;
    border: none;
    padding: 5px;
    margin-left: 2px;
    width: 48%;
}