<nav id="navbar">
    <ul>
        <li><a>Hjem</a></li>
        <li><a>Kalender</a></li>
        <li><a href="#" onclick="loginForm()">Log in</a></li>
        <form id="loginform" class="hidden login">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="********">
            <input type="submit" name="submite" value="Log in">
        </form>
    </ul>
</nav>