{% extends 'template/base.twig' %}
    {% set title = 'Hjem' %}
    {% block content %}
        <div class="container" ng-app="myApp" ng-controller="Example">
            <input type="number" id="input">
            <input type="button" onclick="addTo();" value="add">
            <div id="chartjs-radar">
                <canvas id="canvas"></canvas>
            </div>
        </div>


    {% endblock %}
    {% block styles %}



    {% endblock %}
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="/js/spider.js"></script>

    {% endblock %}
